# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/runtests
/core

# We have some embedded lmdb database files in our tests. Accessing those
# databases causes these lock.mdb files to get created; just ignore all of them
# here.
*/*lmdb*/lock.mdb
*/*/*lmdb*/lock.mdb
