# After changing this file, please run
#     git ls-files -i --exclude-standard
# to check that you haven't inadvertently ignored any tracked files.

/dafileserver.pod
/dasalvager.pod
/davolserver.pod
/fileserver.pod
/salvager.pod
/volserver.pod
/openafs-ctl.pod
/openafs-ctl_vldb-dump.pod
/openafs-ctl_vldb-freeze-abort.pod
/openafs-ctl_vldb-freeze-dist.pod
/openafs-ctl_vldb-freeze-run.pod
/openafs-ctl_vldb-info.pod
/openafs-ctl_vldb-restore.pod
/vldb_upgrade.pod
